# Ignorar archivos de audio (sin comprimir)
*.wav

# Ignorar archivos de imagen (sin comprimir)
*.bmp

# Archivos temporales de Matlab
*.asv

# Ignorar cachés y archivos compilados de Python
__pycache__/
*.py[cod]

# Otros archivos que no deseamos versionar
# tablas de datos
*.csv